* {
  margin: 0;
  padding: 0;
}

.game {
  background-color: black;
  max-width: 455px;
}

.board {
  position: relative;
}

.board__row {
  display: flex;
}

.board__cell {
  width: 150px;
  height: 150px;
  background: white;
  margin: 5px;
}

.leader-board {
  position: absolute;
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
  top: 0;
  display: none;
}

.leader-board .title {
  font-size: 20px;
  margin-top: 24px;
  text-align: center;
}
